@page "/pages/blazor"

<script>
    function showMessage(name) {
        alert(`Hello ${name}!`);
    }
</script>

<h1>Blazor Page</h1>

<component type="typeof(IllustratedBook.Blazor.BookList)" render-mode="Server" />

<button onclick="showMessage('Ralph')">Show Message</button>