<h3>BookList Blazor component</h3>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>AuthorName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Book b in Books)
        {
            <tr>
                <td>@b.Title</td>
                <td>@b.AuthorName</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Inject]
    public DataContext? DataContext { get; set; }
    public IEnumerable<Book>? Books => DataContext?.Books;
    public string SelectedBook { get; set; } = "";
}