@using IllustratedBook.Services

<h3>Books</h3>

@if (Books != null && Books.Any())
{
    <ul>
        @foreach (Book b in Books)
        {
            <li>
                <a href="/books/@b.BookId/@(BookService?.GenerateSlug(b.Title ?? "") ?? "")">@b.Title</a>, @b.AuthorName
            </li>
        }
    </ul>
}
else
{
    <p>No books available.</p>
}

@code {
    [Inject]
    public BookService? BookService { get; set; }
    
    public IEnumerable<Book> Books { get; set; } = Enumerable.Empty<Book>();
    public string SelectedBook { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        if (BookService != null)
        {
            Books = await BookService.GetAllBooksAsync();
        }
    }
}