@model BookListViewModel
@using IllustratedBook.Models
@using IllustratedBook.ViewModels

<h1>Views/Home/index.cshtml</h1>

<h2>Server Razor component</h2>

<component type="typeof(IllustratedBook.Blazor.BookList)" render-mode="Server" />