<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <base href="~/" />
    </head>
    <body>
        <h1>Views/Shared/_Layout.cshtml</h1>
        @RenderBody()
        <script src="_framework/blazor.server.js"></script>
    </body>
</html>
